#container {
    border: 3px solid rebeccapurple;
    position: relative;
    width: auto;
    height: auto;
}

#container > div {
    border: 3px solid seagreen;
}

#screenDiv {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
}

#gridParent {
    position: absolute;
    display: flex;
    width: 500px;
    height: auto;
    justify-content: space-between;
   flex-wrap: wrap;
}

.grid {
    border: 3px solid black;
    height: 100px;
    width: 100px;
}